<div class="post_form comment_form js_post_form">
  <div class='new_post'>

    <div class="post_expander">
      Add a comment...
    </div>

    <div class="post_form_toggler">
      <div class='ind'></div>
      <form class="formtastic comment" action='/activities/comment' method='post' data-like="true" data-remote='true' data-type='html'>
        <div class="wrapper">
        <fieldset class="inputs">
          <ol>
            <li class="text optional">
              <label for="comment_body">Comment</label>
              <textarea rows="10" name="activity[comment]" id="comment_body" cols="70"></textarea>
            </li>
          </ol>
        </fieldset>
        <fieldset class="buttons">
          <ol>
            <li class="commit">
              <input class="create" type="submit" value="SUBMIT COMMENT" name="commit"/>
            </li>
            <li class='cancel'>
              <input class='cancel' name='cancel' type='button' value='Cancel'/>
            </li>
          </ol>
        </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>