{% form for 'article' multipart: true class: 'formtastic article' %}
  <div class='wrapper'>
    {% error_messages %}
    {% form_fields for 'inputs' %}
      {% include 'articles/form_inputs' form_object: article %}
    {% endform_fields %}
    {% form_fields for 'buttons' %}
      {% include 'forms/buttons' form_object: article %}
    {% endform_fields %}
  </div>
{% endform %}