<div id='show_articles_index'>
  <div class="content_bar_hat">
  </div>

  <div class='section main'>

    <div class="section unit articles">
      <div class="unit_body">
        <div class="article search_field">
          <form action="/articles/search" class="search">

            <div class="wrapper">
              <fieldset>
                <input class="hint" id="keyword" name="q" title="Search {{ site.article_label | plural }}" />
              </fieldset>
            </div>
          </form>
        </div>
      </div>

    </div>

    {% capture feed_title %}{{ site.article_label }} Feed{% endcapture %}
    {% activity for 'Article' limit 20 expanded_view header feed_title %}
  </div>

  <div class='section sidebar'>
    <div class='aside articles'>
      {% hot articles, 3 %}
    </div>

    <div class='aside articles'>
      {% recent articles limit 3 %}
    </div>

  </div>
</div>