<div class="header">
  <h3>New {{ site.article_label | plural }}</h3>
</div>
<div class="section">
  
  {% if articles == empty %}
    <p><em>no {{ site.article_label | plural | downcase }} available</em></p>
  {% else %}
  
    <ol>
      {% for article in articles %}
      <li class="item recent">
        <p class='title'>
          {{ article.link_to_show }}
        </p>
      </li>
      {% endfor %}
    </ol>
    {% if more_articles > 0 %}
      <a href="/articles?order=recent&limit=10" class="more_link">{{ more_articles }} more</a>
    {% endif %}
  
  {% endif %}
  
</div>
