<div id="kb_articles_index" class="section full unit search_result">
  <div class="content_bar_hat"></div>
  {% include 'searches/controls' tab: 'articles' label: site.article_label %}
  
  <div class="section main fullwidth js_filtered">
    {% incremental_list limit 10 with template 'articles/search_results' %}
  </div>

</div>