{% assign items_shown = 5 %}

<div class="section search_result unit wiki">
  
  <div class="header">
    <h3 class="wiki">{{ site.wiki_label | plural }}</h3>
  </div>
  
  {% include 'wikis/search_results' limit: items_shown  hide_more: true hide_total: true %}

  {% if has_more_wikis %}
  <div class="footer">
      <a class="more_link" href="/wikis/search?q={{ query | escape }}&{{ extra_params }}">
      <span class="more_count">{% if num_hits > 1005 %}
      over 1000
      {% elsif num_hits > 5 %}
      {{ num_hits| minus:items_shown  }}
      {% endif %}</span>
      more</a>
  </div>
  {% endif %}

</div>
