<!--?xml version='1.0' encoding='utf-8' ?-->
<html>
<head></head>
<body>
  <div class="user_invites">
    <h2>Your user invitations have been successfully sent.<h2>
  </div>
  <form>
    <input type="hidden" id="finish_action">
  </form>

</body>
</html>
