<div class='aside pages_menu'>
  <div class='section'>
    {% include 'menus/pages_listing' %}
  </div>
</div>

{% if group_sections %}
<div class='aside pages_menu'>
  <div class='section'>
    {% include 'menus/groups_listing' parent: container %}
  </div>
</div>
{% endif %}