{% form for 'discussion_archive' multipart: true class: 'formtastic discussion_archive' %}
  <div class='wrapper'>
    {% error_messages %}
    {% form_fields for 'inputs' %}
      {% include 'discussion_archives/form_inputs' form_object: discussion_archive %}      
    {% endform_fields %}
    {% form_fields for 'buttons' %}
      {% include 'forms/buttons' form_object: discussion_archive %}
    {% endform_fields %}
  </div>
{% endform %}