{% for ideastorm in ideastorms %}
<div class="section unit ideastorm">
  <div class='header'>
    <h2 class="ideastorm">
      <a href="{{ ideastorm.show_path }}" title="{{ ideastorm.title }}">{{ ideastorm.title }}</a>
    </h2>
  </div>
  <div class='unit_body'>
  	{% load_children ideas from 'ideastorm.ideas' limit 3 %}
    {% include 'ideas/list' ideas: ideas, limit_size: 3 %}
  </div>
  {% unless ideastorm.ideas == blank %}
  <div class="footer">
    <a href="{{ ideastorm.show_path }}" class="more_link">More</a>
  </div>
  {% endunless %}
</div>
{% endfor %}
