<div class="post_form comment_form js_post_form">
  <div class='new_post'>

    <div class="post_expander">
      Write a comment...
    </div>

    <div class="post_form_toggler">
      <div class='ind'></div>
      <form class="formtastic comment {% if site.fancy_comments %}fancy_comments{% endif %}"  action='{{object.comments_path}}' method='post' data-remote='true' data-type='html'>
        <div class="wrapper">
        <fieldset class="inputs">
          <ol>
            <li id="comment_input" class="text optional">
              <label for="comment_body_{{object.id}}">Comment</label>
              <textarea rows="10" name="reply[body]" id="comment_body_{{object.id}}" cols="70"></textarea>
            </li>
          </ol>
        </fieldset>
        <fieldset class="buttons">
          <ol>
            <li class="commit">
              <input id="comment_submit" class="create" type="submit" value="Submit" name="commit"/>
            </li>
            <li class='cancel'>
              <input class='cancel' id='comment_form_canceler' name='cancel' type='button' value='Cancel'/>
            </li>
          </ol>
        </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>