<div class="section comments">
  <ol class='children_list'>
    {% for_comments %}
    <li class='child {% if forloop.last %}last{% endif %} js_comment_container'>
      {% include 'comments/show' disable_edit: disable_edit %}
    </li>
    {% endfor_comments %}
  </ol>
</div>