<div class='section people header'>
  <div id="page_header" class="content_bar_hat">
    <div class='section main'>
        <h1>Newsfeed</h1>
    </div>
    <div class="section sidebar content_bar">
      <div class='menu popdown-menu'></div>
    </div>
  </div>
</div>

<div class='section main fullwidth'>
  {% activities limit 20 %}
</div>