{% form for 'idea' multipart: true class: 'formtastic idea' %}
  <div class='wrapper'>
    {% error_messages %}
    {% form_fields for 'inputs' %}
      {% include 'ideas/form_inputs' form_object: idea%}      
    {% endform_fields %}
    {% form_fields for 'buttons' %}
      {% include 'forms/buttons' form_object: idea%}
    {% endform_fields %}
  </div>
{% endform %}