<!--?xml version='1.0' encoding='utf-8' ?-->
<html>
<head>
</head>
<body>
You have successfully created {{ node.site_label | downcase }} '{{ node.title }}'

{{ node.child_link }}

<form>
  <input id="finish_action" type="hidden">
</form>


</body>
</html>