
{% if users == empty %}
  <span>no users found</span>
{% else %}
  {% include 'users/list' limit: limit offset: offset %}

  <div class="footer">
    <a href="{{ project.members_directory_url }}">directory view</a>
  </div>
{% endif %}
