<p>
{{ attentioner.link_to_show }} is calling your attention to their latest <a href="{{activity.full_show_path}}">status update</a>:
  <p>
    {{ comment.text }}
  </p>
</p>  
{% include 'emails/_sent_from_footer' %}