<p>The CSV data export you requested is now available. You can download it by going here:</p>

<p><a href="{{ site.community_url }}/admin/exports">{{ site.community_url }}/admin/exports</a></p>

<p>The filename is "{{ filename }}."</p>

{% include 'emails/_sent_from_footer' %}