<p>You have requested that your primary email be changed from {{user.email}} to {{pending_email_validation.email}}.</p>
<p>If you approve this change, <a href="{{pending_email_validation.confirm_path}}">please confirm here.</a></p>