Hello {{ user.email }},
<br/>
Someone has requested a link to change your password, and you can do this through the link below.
<br/><br/>
<a href="{{ user.reset_password_url }}">Reset password</a>
<br/><br/>
If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
<br/><br/>
{% include 'emails/_sent_from_footer' %}

