{{reply.creator.link_to_show}} has commented on your <a href="{{ status_activity.full_show_path }}">status</a>, {{ status_activity.text }}:
<br/><br/>
{{ reply.body }}
{% include 'emails/_sent_from_footer' %}