<p>Thank you for your join request. Unfortunately, we are not able to add you to {{group.name}} at this time.</p>

<p>Please contact <a href="mailto:{{admin.email}}">{{admin.name}}</a> with any questions.</p>

{% include 'emails/_sent_from_footer' %}