<div id="ideastorms_leaderboard">

  <div class='section groups header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>{{order}} {{ site.ideastorm_label }} Leaderboard</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'></div>
      </div>
      <div class='clear'></div>
    </div>
  </div>
  
  <div class="section main">
    {% ideastorms split_on_open: true, with template 'ideastorms/leaderboard_list' %}
  </div>
  
  <div class="section sidebar">
    <div class="aside ideastorms_recent_winners">
      {% ideas_recent_winners %}
    </div>
    
    <div class="aside implemented_ideas">
      {% implemented_ideas %}
    </div>

    <div class="aside ideastorms_top_contributors">
      <div class="header"><h3>Top Contributors</h3></div>
      {% idea_makers limit 5 %}
      <div class="legend">
        <ul>
          <li class="ideas">{{ site.idea_label | plural }} submitted by the user</li>
          <li class="comments">Comments on ideas by the user</li>
          <li class="likes">{{ site.idea_label | plural }} liked by the user</li>
        </ul>
      </div>
    </div>
    
    <div class="aside my_ideastorms">
      {% my ideastorms %}
    </div>
  </div>
  
</div>
