<div id="ideastorms_index">    

  <div class='section groups header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>{{order}} {{ site.ideastorm_label | plural }}</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'></div>
      </div>
      <div class='clear'></div>
    </div>
  </div>

  <div class='section main'>
    {% ideastorms limit 50 %}
    {% ideas limit 50 %}
  </div>
  <div class='section sidebar'>
    <div class='aside my_ideastorms'>
      {% my ideastorms %}
    </div>
  </div>
</div>
