{% input for 'title' label: 'Title' required: 'true' %}

{% input for 'default_view' label: 'Default View' as: 'select' collection: [['gallery', 'gallery'], ['list', 'list']] %}

<li class="text last" id="item_collection_item_finder">
  <label for="item_collection_item_search">Manually Add Projects</label>
  <input id="item_collection_item_search" name="item_search" type="text" data-types="Work" />
  <table class="table_reset item_references_table" data-collectionref="work_portfolio">
  <input type="hidden" name="work_portfolio[item_reference_ids][]" value="" id="work_portfolio_item_reference_ids_empty" />
  {% for item in form_object.item_references %}
    <tr data-id="{{ item.id }}">
      <td>
        {{ item.title }}
        <input type="hidden" name="work_portfolio[item_reference_ids][]" value="{{ item.id }}" />
      </td>
      <td class='delete'><a href="#" class="js_delete_link">X</a></td>
    </tr>
  {% endfor %}
  </table>

</li>

{% unless form_object.parent_id == null %}
  {% input for 'parent_id' as: 'hidden' %}
{% endunless %}
