<!--?xml version='1.0' encoding='utf-8' ?-->
<html>
<head>
</head>
<body>

<!--Shane put in some shit here on what the user has to do to create a new task-->
You have successfully created {{ node.site_label | downcase }} '{{ node.title | truncate: 50 }}'.

<form>
  <input id="finish_action" type="hidden">
</form>


</body>
</html>