{% unless blog.parent_id == null %}
{% input for 'parent_id' as: 'hidden' %}
{% endunless %}

{% input for 'title' label: 'Title' required: 'true' %}

{% include 'nodes/_avatar_update_fields' %}

{% include 'nodes/_editor_fields' %}



<li class="text  last">
  <label>Add external feeds to this blog</label>

  <p class="inline-hints">(optional) External feeds give you the ability to import your external feeds (flickr, twitter,
    personal blogs, etc) into your spaces blog. The imported blog posts will not appear immediately. There is a slight
    delay while we process them.</p>
  <ol id="external_channels_container">
    {% for external_channel in blog.external_channels %}
    <li>
      <input name="external_channels[][url]" value="{{external_channel.url}}" type="text">
      <input name="external_channels[][_id]" value="{{external_channel.id}}" type="hidden" class="external_channel_id">
      <a class="js_delete_external_feed" href="#">
        <img alt="Delete" src="/images/icons/delete.png"/>
      </a>
    </li>
    {% endfor %}
    <li>
      <input name="external_channels[][url]" type="text" value="">
      <a class="js_add_external_feed" href="#">
        <img alt="Add" src="/images/icons/add.png"/>
      </a>
    </li>
  </ol>
</li>