<div id='user_index'>

  <div class="content_bar_hat">
  </div>
  <div class='section main fullwidth last'>
    <div class='header'>
      <h1>Users</h1>
    </div>
  </div>

  {% include 'users/directory' base_url: '/people' %}

</div>