<div id='user_index'>

  <div class='section people header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>People Directory</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'></div>
      </div>
    </div>
  </div>


  {% include 'users/directory' base_url: '/people' %}

</div>