<div id='show_people_index' class='three_column'>

  <div class='section people header'>
    <div id="page_header" class="content_bar_hat">
      <div class="section main">
        <h1>People</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class="menu popdown-menu">
          <a href="/people" title="People Directory" class="new_link">People Directory</a>
          <a href="/user_invites/emails" class="wizard_launch add_link" title="Invite People" data-height="400" style="float: none; width: auto; ">Invite People</a>
        </div>
      </div>
    </div>
  </div>

   <!-- ======== LEFT COLUMN ======== -->
  <div class="section left_sidebar">
    <div class='aside locations around_the_globe'>
      {% show_around_the_globe %}
    </div>
    
    <div class='aside photos'>
      {% show_recent_photos  %}
    </div>
  </div>
  
  
   <!-- ======== MIDDLE COLUMN ======== -->
  <div class='section middle'>
    <div class='section unit status_updates'>
      {% activity type 'status' with template 'users|status_updates' %}
    </div>
  
    <div class='section unit likes'>
      {% show_recent_likes %}
    </div>
  
    <div class='section unit recent_blogs'>
      {% recent blogs limit 3 %}
    </div>
  </div>
  
  
  <!-- ======== RIGHT COLUMN ======== -->
  <div class="section right_sidebar">
    <div class='aside users'>
      {% show_new_faces %}
    </div>
    
    <div class='aside users'>
      {% recommend_users %}
    </div>
    
    <div class='aside activities'>
      {% activity limit 2 %}
    </div>
  </div>
  
  
  
</div>