<div id="works_index">
  
  <div class='section clients header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>Complete</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'>
          {% include 'menus/clients_overview_add' %}
          <div class='clear'></div>
        </div>
      </div>
      <div class='clear'></div>
    </div>
  </div>

  
  <div class='section main'>
    <div class="section unit works js_works_unit">
      <div class="header">
        <div class="updated_at"></div>
        <h2 class="work">
          Recently Updated
          {% locations_jump_menu for 'leads' %}
        </h2>
      </div>
      <div class="unit_body">
        {% works type: complete order: updated  %}
      </div>

      {% if works_count > 0 %}
      <div class="footer">
        <a class="more_link" href="{{ index_url }}">More</a>
      </div>
      {% endif %}

    </div>

    <div class="section unit works js_works_unit">
      <div class="header">
        <div class="updated_at"></div>
        <h2 class="work">
          Just Ended
          {% locations_jump_menu for 'leads' %}
        </h2>
      </div>
      <div class="unit_body">
        {% works type: complete end_date: desc   %}
      </div>
      {% if works_count > 0 %}
      <div class="footer">
        <a class="more_link" href="{{ index_url }}">More</a>
      </div>
      {% endif %}

    </div>

    {% include 'works/browser' type: 'complete' %}

  </div>

  <div class='section sidebar last'>
    <div class='aside lead works'>
      {% my works, 2, complete %}
    </div>
    <div class='aside popular clients works'>
      {% include 'clients/popular' clients: current_user.popular_clients %}
    </div>
    <div class='aside'>
      {% activity for 'Client' limit 5 %}
    </div>

  </div>

</div>

