<div class='section unit'>
  <div class="header">
    <h2>Market Impact</h2>
  </div>
  <div class="unit_body">
    {{ work.market_impact }}
  </div>
</div>

<div class='section unit'>
  <div class="header">
    <h2>100 Word Summary</h2>
  </div>
  <div class="unit_body">
    {{ work.short_summary }}  
  </div>
</div>
