<div class='section group header'>
  {% include 'nodes/header' parent: work hide_details: true %}
</div>


<div class="section main">
  {% include 'users/directory' base_url: work.watchers_url %}
</div>
