<ul class='tag_list'>
  {% if node.tag_words == empty %}
    <li><em>this {{ node.site_label | downcase }} has no tags</em></li>
  {% else %}
    {% for tag in node.tag_words_alpha %}
      <li class='tag'>
        {{ tag[0] }}
      </li>
    {% endfor %}
  {% endif %}
</ul>