<div class='section unit js_filtered'>

  <div class='section unit_body '>
    <ol class="calendars item_list js_filter_body">
      {% if calendars == empty %}
        <p><em>no calendars yet</em></p>
      {% else %}
        {% for calendar in calendars %}
          <li class="item calendar {% if forloop.last %}last{% endif %}">
            {% include 'calendars/summary' %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>
  </div>

  {% more calendars %}
</div>