{% input as: 'submit' value: 'Save'%}
<li class='cancel'>
  <input id="cancel" title="Cancel" type="button" value="Cancel" class="cancel" data-url="{{form_object.cancel_path}}"/>
  <!--a href="{{form_object.cancel_path}}">Cancel</a-->
</li>

