
{% if node %}
<!-- <h1>Edit {{node.friendly_type_name}}</h1> -->

<div id="node_edit_tabs">
  <ul>
    <li><a href="#tabs-1">Details</a></li>
    {% if node.current_user_can_admin? %}
    <li><a href="#tabs-2">Admin</a></li>
    {% endif %}
    {% if node.friendly_type_name == "Document" and site.enable_document_checkout %}
    <li><a href="#tabs-3">Lock/Unlock</a></li>
    {% endif %}
  </ul>
  <div id="tabs-1">
    {% edit_content %}
  </div>
  {% if node.current_user_can_admin? %}
  <div id="tabs-2">
    {% edit_security %}
  </div>
  {% endif %}
  {% if node.friendly_type_name == "Document" and site.enable_document_checkout %}
  <div id="tabs-3">
    <h3>Document Locking</h3>

    <p>
      Locking a file will prevent other users from uploading a new file while you have it locked.
    </p>
    {% if node.locked? %}
    <form action="/documents/{{node.slug}}/unlock" method="post" class="formtastic">
      <div class="wrapper">
        <fieldset class="buttons">
          <ol>
            <li class="commit ">
              <input id="submit" name="commit" type="submit" value="Unlock"
                     class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
            </li>
          </ol>
        </fieldset>
      </div>
    </form>
    {% else %}
    <form action="/documents/{{node.slug}}/lock" method="post" class="formtastic">
      <div class="wrapper">
        <fieldset class="buttons">
          <ol>
            <li class="commit ">
              <input id="submit" name="commit" type="submit" value="Lock"
                     class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
            </li>
          </ol>
        </fieldset>
      </div>
    </form>
    {% endif %}
  </div>
  {% endif %}

</div>

{% endif %}