<div id="likes_header" class="section unit {%if node.likes_count == 0%}hide{%endif%}">
  <a name="likes"></a>
  <div class='header'>
    <h3 class="likes">Likes</h3>
    <div class="likes_summary">{{ node.likers_summary }}</div>
  </div>
</div>