<div class="header">
  <h3>Most Followed Items</h3>
</div>
<div class="section">
  
  {% if items == empty %}
    <p>
      <em>no items available</em>
    </p>
  {% else %}
  
    <ol>
      {% for item in items %}
      <li class="item">
        <a href="{{ item.show_path }}">{{ item.small_avatar_or_parent_avatar }}</a>
        {{ item.link_to_show }}
        <p>{{ 'follower' | pluralize: item.watchers_count }}</p>   
      </li>
      {% endfor %}
    </ol>

  {% endif %}
  
</div>
