<div class="header">
  <h3>Recommended Items
  </h3>
</div>

<div class='section js_recommendations'>
  <a class="location" style='display:none' href="{{ object.recommend_path }}" data-limit='{{limit}}' data-type='html' ></a>
  <div class='spinner' style='display:none'></div>
  <p class='loading'>Loading recommendations</p>
</div>

