<div class='section unit clients js_filtered'>

  <div class='section unit_body '>
    <ol class="clients item_list js_filter_body">
      {% if clients == empty %}
        <p><em>No Clients Yet</em></p>
      {% else %}
        {% clients by numbers %}
        {% clients by symbols %}
        {% clients by letter 'a' %}
        {% clients by letter 'b' %}
        {% clients by letter 'c' %}
        {% clients by letter 'd' %}
        {% clients by letter 'e' %}
        {% clients by letter 'f' %}
        {% clients by letter 'g' %}
        {% clients by letter 'h' %}
        {% clients by letter 'i' %}
        {% clients by letter 'j' %}
        {% clients by letter 'k' %}
        {% clients by letter 'l' %}
        {% clients by letter 'm' %}
        {% clients by letter 'n' %}
        {% clients by letter 'o' %}
        {% clients by letter 'p' %}
        {% clients by letter 'q' %}
        {% clients by letter 'r' %}
        {% clients by letter 's' %}
        {% clients by letter 't' %}
        {% clients by letter 'u' %}
        {% clients by letter 'v' %}
        {% clients by letter 'w' %}
        {% clients by letter 'x' %}
        {% clients by letter 'y' %}
        {% clients by letter 'z' %}
      {% endif %}
    </ol>
  </div>
</div>