<div id='show_clients_index'>
  
  <div class='section clients header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>{{ site.client_label | plural }}</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'>
          {% include 'menus/clients_overview_add' %}
          <div class='clear'></div>
        </div>
      </div>
      <div class='clear'></div>
    </div>
  </div>

  <div class='section main'>

    {% clients_summary %}

  </div>
</div>