<em class="multi_help">
  Add files to the upload queue and click the start button. This page supports files up to <span id="plupload_max_file_size">500</span> Megabytes in size.
  If you need to upload a larger file, please select the 'Upload One File' page above.
</em>

<input type="hidden" name="document[parent_id]" value="{{ document.parent_id }}" id="document_parent_id">
<input type="hidden" name="document[version]" value="{{ document.version }}" id="document_version">
<input type="hidden" name="redirect_to" value="{{ parent.show_path }}" id="document_library_redirect">

<div id="document_multiuploader">&nbsp;</div>

<div class="info js_file_multi_upload_big_file">Files larger than 100 Megabytes do not have a file preview.</div>
