<input type="hidden" name="document[parent_id]" value="{{ document.parent_id }}" id="document_parent_id">
<input type="hidden" name="document[version]" value="{{ document.version }}" id="document_version">
<input type="hidden" name="redirect_to" value="{{ parent.show_path }}" id="document_library_redirect">

<div id="document_multiuploader">&nbsp;</div>
