<div class="doc_viewer_toolbar">
  <!--zoom-->
  <div class="zoom-btns">
    <button class="zoom-out">-</button>
    <button class="zoom-in">+</button>
    <button class="zoom-reset">reset</button>
  </div>

  <!--page navigation-->
  <div class="page-nav">
    <button class="prev">◀</button>
    <span class="label">Page <span class="num">1</span>/<span class="numpages">1</span></span>
    <button class="next">▶</button>
  </div>

  <div class="page-go">
    <span class="label">Page <input type="text" value='1'>/<span class="numpages">1</span></span>
    <button class="go">Go</button>
  </div>

</div>