<div class="section unit">

  {% if activities == empty %}
  <p>
    <em>No activities recorded.</em>
  </p>
  {% else %}

  <ol class="item_list activities" >
    {% for activity in activities %}
    {% include 'local_activities/comments_summary' activity: activity %}
    {% endfor %}
  </ol>

  {% endif %}

</div>
