<div id="feed_section" class="section page">
  <div class='section people header'>
    <div id="page_header" class="content_bar_hat">
      <div class='section main'>
          <h1>What People Like</h1>
      </div>
      <div class="section sidebar content_bar">
        <div class='menu popdown-menu'></div>
      </div>
    </div>
  </div>

  
  <div class="section main js_filtered js_activity_feed">
    <div class='section filters'>

      {% show_filters %}

    </div>

    <ol class="like_feed js_filter_body">
      {% for like in activities %}
      {% include 'likes/like' like: like %}
      {% endfor %}
    </ol>

    {% if show_more %}
    <div class="footer">
      <div class="js_paginate">
        <a class="more" href="/activities/likes?1=1" data-offset="{{offset}}" data-type="html">More</a>

        <div class="spinner"></div>
      </div>
    </div>

    {% endif %}

  </div>
</div>


