<div class="login_box password_change">
  <div class="backdrop">
    <div class="contents">
      <div class="header"><h2>Change your password</h2></div>
      {% flash_messages %}

      {% form for resource class: 'login_form' action: action %}
        {% if resource.confirmed? %}
          <input name="_method" type="hidden" value="put">
          {% error_messages %}
          {% form_fields for 'inputs' %}
          {% input for 'reset_password_token' as: 'hidden' required: 'true' %}
          {% input for 'password' as: 'password' label: 'Password' required: 'true' %}
          {% input for 'password_confirmation' as: 'password' label: 'Confirm Password' required: 'true' %}

          {% endform_fields %}

          {% form_fields for 'buttons' %}
          <li>
            Already have an account?
            <a href="/users/sign_in" class="sign-up-link">Sign in</a>
          </li>

          {% input as: 'submit' value: 'Change my password' class: 'disabled' required: 'false' %}
          {% endform_fields %}
        {% else %}
          {% form_fields for 'unconfirmed' %}
            <li>Your account has not been confirmed. <a href="/users/confirmation/new">Resend</a> the confirmation email?</li>
          {% endform_fields %}
        {% endif %}
        
      {% endform %}


    </div>
  </div>
</div>

