<div class="login_box password">
  <div class="backdrop">
    <div class="contents">
      <div class="header"><h2>Password Reset</h2></div>
      {% flash_messages %}

      <form action="/users/password" method="post" class="login_form">
        <fieldset class="inputs">
          <ol>
            <li class="text " id="user_email_input">
              <input id="user_email" name="user[email]" size="30" type="text" title="Email Address">
            </li>
          </ol>
        </fieldset>
        <fieldset class="buttons">
          <ol>
            <li>
              <a href="/users/sign_in" class="sign-up-link">Sign in</a>
            </li>
            <li class="commit">
              <input id="user_submit" name="commit" type="submit" value="Send me reset password instructions">
            </li>
          </ol>
        </fieldset>
      </form>
    </div>

  </div>
</div>

