<div class="progress_bar_container">
  <div class="progress_bar">
    <div class="percentage {{ percentage_class }}"
         style="width:{{ percentage }}%">
    </div>
  </div>
  <var>{{ percentage_display }}</var>
</div>