<h3><span class="help_anchor js_help_anchor"></span>Permissions</span></h3>
<div class="help_callout js_help_callout">
   <h2>Permissions</h2>
   <p><span class="keyword">Administrators</span> can view, comment on, and add new content as well
      as edit any other user's content on things that they administer.
      Administrators also control membership.</p>
   <p><span class="keyword">Contributors</span> can view, comment on, and edit content and add new content.</p>
   <p><span class="keyword">Viewers</span> can only view and comment on content.</p>
</div>